<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
  </head>
  <body>
    <h1>Sign In</h1>

    <form method="post">
      {% csrf_token %} {{form.username.label}} {{form.username}}
      {{form.email.label}} {{form.email}} {{form.password1.label}}
      {{form.password1}} {{form.password2.label}} {{form.password2}}
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html> -->

{% load static %} {% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'styles/signup.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="left-panel">
        <img
          src="{% static 'images/chris-lee-70l1tDAI6rM-unsplash 2.jpg' %}"
          alt="image"
          class="grafitti-image"
        />
      </div>
      <div class="right-panel">
        <h2>Get Started Now</h2>
        <form action="/signup" method="post">
          {% csrf_token %}
          <!-- Name Field -->
          <div class="form-group">
            <label for="username">Name</label>
            <div class="form-input">
              {{ form.username|add_class:"custom-input" }}
            </div>
          </div>

          <!-- Email Field -->
          <div class="form-group">
            <label for="email">Email</label>
            <div class="form-input">
              {{ form.email|add_class:"custom-input" }}
            </div>
          </div>

          <!-- Password Field -->
          <div class="form-group">
            <label for="password1">Password</label>
            <div class="form-input">
              {{ form.password1|add_class:"custom-input" }}
            </div>
          </div>

          <!-- Confirm Password Field -->
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <div class="form-input">
              {{ form.password2|add_class:"custom-input" }}
            </div>
          </div>

          <!-- Terms and Conditions -->
          <div class="form-group check-box">
            <input type="checkbox" id="terms" name="terms" required />
            <label for="terms">I agree to the terms and conditions</label>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="submit-btn">Signup</button>
        </form>

        <div class="social-login">
          <button>
            <img
              src="{% static 'images/google-color-svgrepo-com.svg' %}"
              alt="Google logo"
            />
            Sign in with Google
          </button>
          <button>
            <img
              src="{% static 'images/apple-173-svgrepo-com.svg' %}"
              alt="Apple logo"
            />
            Sign in with Apple
          </button>
        </div>
        <div class="login-link">
          <p>Have an account? <a href="/signin">Sign In</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
